alias gs='git status'
alias gd='git diff'
alias tf='terraform'
alias tfa='terraform apply --auto-approve'
alias tfd='terraform destroy --auto-approve'
alias tfp='terraform init || terraform providers && terraform validate && terraform plan'
alias tfr='terraform destroy --auto-approve; terraform apply --auto-approve'
alias k='kubectl'
alias tt='cd tests; go test -v -parallel=10 -timeout=80m'
