IS_NIX_SHELL=$(echo "$SHELL" | grep 'nix')

if [ -z "${IS_NIX_SHELL}" ]; then
	echo "entering dev environment..."

	nix develop . --extra-experimental-features nix-command --extra-experimental-features flakes
else
	echo "setting up dev environment..."

	source .aliases
	source .functions
	source .variables
	source .rcs
fi