if [ -z "${NIX_ENV_LOADED}" ]; then
	echo "entering dev environment..."
  export NIX_ENV_LOADED=$(pwd)

  nix develop \
    --ignore-environment \
    --extra-experimental-features nix-command \
    --extra-experimental-features flakes \
    --keep HOME \
    --keep SSH_AUTH_SOCK \
    --keep GITHUB_TOKEN \
    --keep AWS_ROLE \
    --keep AWS_REGION \
    --keep AWS_DEFAULT_REGION \
    --keep AWS_ACCESS_KEY_ID \
    --keep AWS_SECRET_ACCESS_KEY \
    --keep AWS_SESSION_TOKEN \
    --keep UPDATECLI_GPGTOKEN \
    --keep UPDATECLI_GITHUB_TOKEN \
    --keep UPDATECLI_GITHUB_ACTOR \
    --keep GPG_SIGNING_KEY \
    --keep NIX_ENV_LOADED \
    --keep TERM \
    $(pwd)
else
	echo "setting up dev environment..."

	source .aliases
	source .functions
	source .variables
	source .rcs
fi
if [ -z "$SSH_AUTH_SOCK" ]; then
  echo "Unable to find SSH_AUTH_SOCK, is your agent running?";
fi
if [ -z "$(ssh-add -l | grep -v 'The agent has no identities.')" ]; then
  echo "Your agent doesn't appear to have any identities loaded, please load a key or forward your agent.";
fi
if [ -z "$(env | grep 'AWS')" ]; then
  echo "Unable to find AWS authentication information in the environment, please make sure you authenticate with AWS.";
fi
if [ -z "$(env | grep 'GITHUB_TOKEN')" ]; then
  echo "Unable to find GITHUB authentication information in the environment, please make sure you authenticate with GITHUB.";
fi
